header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 1rem;
  background-color: rgba(126, 213, 207, 0.6);
}
@media screen and (max-width: 400px) {
  header {
    height: auto;
    padding: 0 0 0.5rem 0;
    flex-direction: column;
  }
}

.title {
  font-size: 55px;
  font-family: "Dancing Script", cursive;
}

.without-header {
  font-size: 65px;
  padding-left: 48px;
}
@media screen and (max-width: 576px) {
  .without-header {
    padding: 0;
    text-align: center;
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 12px;
  background-color: #222;
  color: #f1f1f1;
}
footer nav {
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 576px) {
  footer nav {
    flex-direction: column;
    gap: 10px;
  }
}
footer nav .networks-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
footer nav a {
  color: #f1f1f1;
  text-decoration: none;
}
footer nav a.no-underline:hover {
  color: #cbcbcb;
}
footer nav a:not(.no-underline) {
  position: relative;
}
footer nav a:not(.no-underline)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 1.5px;
  background-color: #f1f1f1;
  transition: width 0.2s;
}
footer nav a:not(.no-underline):hover::after {
  width: 100%;
}
footer nav a:not(.no-underline):hover {
  color: #f1f1f1;
}

.login-forms-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login-forms-container .login-forms {
  position: relative;
  width: 400px;
  height: 500px;
  background-color: white;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}
.login-forms-container .login-forms .card-back {
  transform: rotateY(180deg);
  background-color: white;
}
.login-forms-container .login-forms .card-front,
.login-forms-container .login-forms .card-back {
  top: 0;
  left: 0;
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}
.login-forms-container .login-forms .button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-forms-container .login-forms .button-container button {
  white-space: nowrap;
  width: 50%;
}
@media screen and (max-width: 576px) {
  .login-forms-container .login-forms .button-container button {
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  .login-forms-container .login-forms {
    width: 90%;
  }
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}
.home-container a {
  color: black;
  text-decoration: none;
  font-size: 60px;
  position: relative;
  font-family: arial, sans-serif;
  animation: fadeIn 0.4s ease-out;
}
.home-container a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 1.5px;
  background-color: black;
  transition: width 0.2s;
}
.home-container a:hover::after {
  width: 100%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 576px) {
  .home-container a {
    font-size: 45px;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f7f7e1;
  display: flex;
  flex-direction: column;
}
body .main-container {
  flex-grow: 1;
}

.cs-pointer {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
