@import './include/mixin';
@import './include/variables';
@import './include/header';
@import './include/footer';
@import './include/loader';
@import './include/gameModes';

// PAGES
@import './include/pages/index';
@import './include/pages/login';
@import './include/pages/play';
@import './include/pages/revise';
@import './include/pages/ranking';
@import './include/pages/admin';


// Reset
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;

  .main-container {
    flex-grow: 1;
  }
}

a {
  text-decoration: none;
}

.cs-pointer {
  cursor: pointer;
}
