header {
  @include flex($justify: space-between);
  height: 70px;
  padding: 0 1rem;
  background-color: $header-bg;

  @include responsive(400px) {
    height: auto;
    padding: 0 0 .5rem 0;
    flex-direction: column;
  }
}

.title {
  font-size: 55px;
  font-family: $cursiveFont;
}

.without-header {
  font-size: 65px;
  padding-left: 48px;

  @include responsive($sm) {
    padding: 0;
    text-align: center;
  }
}