header {
  @include flex($justify: space-between);
  height: 75px;
  padding: 0 1rem;
  background-color: $header-bg;
  border-bottom: 4px solid black;

  @include responsive($sm) {
    height: auto;
    padding: 0 0 .5rem 0;
    flex-direction: column;
  }

  nav {
    @include flex;
    gap: 13px;

    a:not(.logout-btn) {
      color: black;
      font-size: 18px;
      @include after-element(black);

      &:hover {
        color: black;
      }
    }

    .logout-btn {
      height: 40px;
      @include flex;
    }
  }
}

.title {
  font-size: 55px;
  font-family: $cursiveFont;
}

.without-header {
  font-size: 65px;
  padding-left: 48px;

  @include responsive($sm) {
    padding: 0;
    text-align: center;
  }
}