// COLORS
$bg-color: #f7f7e1;
$form-bg: white;
// $header-bg: rgba(126, 213, 207, 0.6);
$header-bg: #d0bb96;
$footer-bg: #222;

// RESPONSIVE SIZE
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// FONT-FAMILY
$cursiveFont: 'Dancing Script', cursive;